<div class="about-us-guarantees-content">


    <div class="about-us-guarantees-guarantee" style="border: 3px solid lightgray; ">
        <h3><span class="about-us-guarantees-guarantee-title">Quality</span></h3>
        <p class="about-us-guarantees-body-text">Vapester only offers authentic products. We do not sell any knock-off
            brands as we want to provide our
            customers with the best products available for the best price.</p>
    </div>
    <div class="about-us-guarantees-guarantee" style="border: 3px solid lightgray; ">
        <h3><span class="about-us-guarantees-guarantee-title">Prices</span></h3>
        <p class="about-us-guarantees-body-text">We pride ourselves on providing quality products and the best prices in
            town. If you are not satisfied what
            so ever with your product, ship it back to us for a full money back guarantee.</p>
    </div>
    <div class="about-us-guarantees-guarantee" style="border: 3px solid lightgray; ">
        <h3><span class="about-us-guarantees-guarantee-title">Delivery</span></h3>
        <p class="about-us-guarantees-body-text">Save 5% on International shipping rates. Choose from a variety of
            shipping providers and get free shipping on
            any order! We also offer International Shipping to a multitude of countries all over the world.</p>
    </div>
    <div class="about-us-guarantees-guarantee" style="border: 3px solid lightgray; ">
        <h3><span class="about-us-guarantees-guarantee-title">Staff</span></h3>
        <p class="about-us-guarantees-body-text">Our staff is well-equipped to handle questions, maintenance, repairs,
            and most importantly help you to find
            the e-liquid and equipment you need to make the switch to vaping!</p>
    </div>






</div>













{% schema %}
{
"name": "About us guarantees",
"tag": "section",
"class": "about-us-guarantees__main-container section page-width",
"settings": [],
"presets" : [{"name" : "About us guarantees"}]
}
{% endschema %}