{% if section.settings.announce_text != blank %}
  <div class="announcement-bar__content-container">
    <p>{{ section.settings.announce_text | upcase | strip_html }}</p>
  </div>
{% endif %}



{% schema %}
  {
    "name": "Announcement bar",
    "class": "announcement-bar__main-container",
    "tag" : "section",
    "settings": [{
      "type": "text",
      "id" : "announce_text",
      "label" : "Announcement text"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}