<h2></h2>

<img width="100" height="100" src="{{ section.settings.product.featured_image |  image_url }}">

<script>
     console.log("hello")
    console.log({{ section.settings.product.featured_image }})
</script>

{% schema %}
{
  "name": "Best sellers",
  "settings": [
    {
      "type": "richtext",
      "id": "section_title",
      "label": "Section title"
    },
    {
      "id": "title_subtext",
      "type": "textarea",
      "label": "Section description"
    }
  ],
  "presets": [{ "name": "Best sellers" }],
  "tag": "section",
  "class": "best-sellers__section",
  "limit": 1,
  "max_blocks": 10,
  "blocks": [
    {
      "name": "Add best seller",
      "type": "best_seller",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}
