<div class="section-hero-banner" aria-label="hero carousel">
  <div class="heroSwiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div
          class="slide swiper-slide"
        >
          <img
            class="image-product"
            src="{{ block.settings.product | image_url }}"
            loading="eager"
            width="100"
            height="100"
          >

          <div class="image-overlay"></div>

          <img
            class="banner-mg image-backdrop "
            src="{{ block.settings.image2 | image_url }}"
            loading="eager"
            width="100"
            height="100"
          >

          <div class="hero-info-container">

            <div class="hero-title">
              <h2 class=" {% if forloop.index == 1 %} hero-heading hero-heading-img-one {% else %} hero-heading-alternate {% endif %}">
                {{ block.settings.product.title | upcase }}
              </h2>
            </div>

            <div class="hero-price-and-btn-container">
              <div class="hero-price-container">
                <span style="color: white;">{% render 'icon-cash' %}</span>
                <span class="hero-price font-body">{{ block.settings.product.price | money }}</span>
              </div>

              <div class="hero-btn-container">
                <button id="myButton" class="hero-btn font-body">SHOP NOW</button>
              </div>
            </div>

            <div class="hero-swiper-btn-container">
              {% comment %} <div class="swiper-button-prev hero-swiper-btn hero-swiper-prev-btn"></div> {% endcomment %}
              <div class="swiper-button-next hero-swiper-btn hero-swiper-next-btn"></div>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="swiper-pagination hero-swiper-pag"></div>
  </div>
</div>



{% schema %}
{
  "name": "Hero banner",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Add selling point title"
    }
  ],
  "presets": [{ "name": "Default hero banner" }],
  "class": "hero-banner__main-container",
  "tag": "section",
  "limit": 1,
  "blocks": [
    {
      "name": "Hero banner",
      "type": "hero_images",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product title"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Select product image background"
        }
      ]
    }
  ]
}
{% endschema %}
