<div class="section-hero-banner {% if section.blocks.size > 1 %} {% endif %}">
  {% for block in section.blocks %}
    <div class="image-container">
      <div class="image-container-left">
        <img
          class="image-individual"
          src="{{ block.settings.image1 | image_url }}"
          loading="eager"
          width="100"
          height="100"
        >
      </div>

      <div class="image-overlay"></div>

      <div class="image-backdrop">
        <img class="banner-mg " src="{{ block.settings.image2 | image_url }}" loading="eager" width="100" height="100">
      </div>

      {% comment %} hero slide one info {% endcomment %}
      <div class="hero-info-container">
        <div class="hero-title">
          <h2 class="hero-heading hero-heading-img-one">{{ block.settings.product_title | upcase }}</h2>
        </div>

        <div class="hero-heading-btn-container">
          <div class="hero-price-cont">
            <span style="color: white;">{% render 'icon-cash' %}</span>
            <span class="hero-price">{{ block.settings.product_price }}</span>
          </div>

          <div class="hero-heading-btn-container-one">
            <button id="myButton" class="btn-shop-now ">SHOP NOW</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Hero banner",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Add selling point title"
    }
  ],
  "presets": [{ "name": "Default hero banner" }],
  "class": "hero__main-container",
  "tag": "section",
  "limit": 1,
  "blocks": [
    {
      "name": "Hero banner",
      "type": "hero_images",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Select product image"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product title"
        },
        {
          "type": "text",
          "id": "product_price",
          "label": "Product price"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Select product image background"
        }
      ]
    }
  ]
}
{% endschema %}
