
<h1>#INSTAGRAM</h1>


{% schema %}
{
    "name": "Social media",
    "settings": [
        {
            "type": "richtext",
            "id": "section_heading",
            "label": "Section heading"
        },
        {
            "type": "text",
            "id": "section_subtitle",
            "label": "Title subtext"
        }
    ],
    "limit": 1,
    "tag": "section",
    "class": "social-media__main-container",
    "presets": [
        {
            "name": "Social media"
        }
    ],
    "max_blocks": 8,
    "blocks": [
        {
            "name": "Content",
            "type": "content",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "social_image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}