<div class="section-new-arrivals page-width">

    <div class="section-heading-container">
        {% if section.settings.collection_title != blank %}
         <span><h4 class="section-heading">{{ section.settings.collection_title | strip_html }}</h4></span>  
        {% endif %}

        {% if section.settings.collection_title == blank %}
          <span><h4 class="section-heading">{{ collections['new-arrivals'].title | strip_html }}</h4></span>
        {% endif %}
    </div>

    <div class="new-arrivals-product-container">
      
      {% for product in collections['new-arrivals'].products %}
        {% render 'product-card', product: product %}
      {% endfor %}

    </div>

   
</div>










{% schema %}
{
  "name": "New arrivals",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
        "type": "richtext",
        "id": "collection_title",
        "label": "Collection title"
    }
  ],
  "limit": 2,
  "class": "new-arrivals__main-container section page-width",
  "tag": "section",
  "presets": [{ "name": "New arrivals" }]
}
{% endschema %}
