

<h1>new arrivals</h1>



{% schema%}
    {
        "name" : "New arrivals",
        "settings": [],
        "limit": 2,
        "class": "new-arrivals__section",
        "tag": "section",
        "presets": [{"name": "New arrivals"}]
    }
    {% endschema %}