<div class="section-our-partners">
  <div class="partners-section-heading">
    <p>The best names in vape culture</p>
    <h4 class="section-heading">our partners</h4>
  </div>

  <div class="our-partners-carousel-container fade">
    {% for product in collections.Partners.products %}
      <div class="picture-frame">
        <div class="our-partners-image-container">
          <img class="our-partners-image image" src="{{ product.featured_image | image_url }}" loading="lazy" width="100" height="100">
        </div>
      </div>
    {% endfor %}
  </div>

</div>


{% schema %}
{
  "name": "Our partners",
  "settings": [],
  "limit": 2,
  "class": "our-partners__main-container",
  "tag": "section",
  "presets": [{ "name": "Our partners" }],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Collection",
      "type": "collection_item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
