<div class="section-featured-collection page-width">

    <div class="section-heading-container">
      {% if section.settings.title_subtext != blank %}
        <p class="section-subheading">{{ section.settings.title_subtext | strip_html }}</p>
      {% endif %}
      {% if section.settings.section_title == blank %}
        <h3><span class="section-heading">{{ collections['best-sellers'].title | strip_html }}</h3></span>
      {% else %}
        <h3><span class="section-heading">{{ section.settings.section_title | strip_html }}</h3></span>
      {% endif %}
    </div>
  
    <div class="featuredSwiper">
      <div class="swiper-wrapper">
        {% for product in collections['best-sellers'].products %}
          {% render 'product-card', product: product %}
        {% endfor %}
      </div>
      {% comment %} <div id="featured-swiper-pagination" class="swiper-pagination"></div> {% endcomment %}
    </div>
  
    <div class="featured-collection-btn-container">
  
    <a href="collections/all">
      <button
       class="btn-more-top-sellers btn-red"
      >
        MORE TOP SELLERS
      </button>
    </a>

  <div class="featured-collection-swiper-btn-container">
    <div class="swiper-button-prev feat-cont-swiper-btn feat-cont-swiper-prev-btn"></div>
    <div class="swiper-button-next feat-cont-swiper-btn feat-cont-swiper-next-btn"></div>
  </div>
</div>
  </div>

{%  schema  %}  
{
    "name": "Related products",
    "settings": [
      {
        "type": "richtext",
        "id": "section_title",
        "label": "Section title"
      },
      {
        "id": "title_subtext",
        "type": "textarea",
        "label": "Section description"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [{ "name": "Related products" }],
    "tag": "section",
    "class": "related-products__main-container section page-width",
    "limit": 1
  }
    
{% endschema %} 