
<div class="section-selling-points ">

  {% for block in section.blocks %}
    <div class="point-container">
  
        <div class="svg-container">
          <img class="collection-img" src="{{ block.settings.selling_point_image | image_url }}" loading="lazy" height="100"  width="100"> 
        </div>

        <div>
          <p class="point-heading">{{ block.settings.title | strip_html }} </p>
          <p class="point-body">{{ block.settings.body_text | strip_html }}</p>
        </div>

    </div>

  
  {% endfor %}
  
</div>

{% schema %}
{
  "name": "Selling points",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Add selling point title"
    }
  ],
  "presets": [{"name": "Section selling points"}],
  "tag": "section",
  "class": "selling-points__main-container  page-width",
  "limit": 1,
  "blocks": [
    {
      "name": "Add selling point",
      "type": "selling_point",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Add selling point title" 
        },
        {
          "type": "text",
          "id": "body_text",
          "label": "Selling point details" 
        },
        {
          "type": "image_picker",
          "id": "selling_point_image",
          "label": "Add selling point image" 
        }
      ]

    }
  ]
}

{% endschema %}
