<div class="contact-store-locations-section page-width">
  <p class="contact-location-section-subtitle"> Our Stores</p>
  <h3><span class="contact-location-section-title">LOCATIONS</span></h3>
  <div id="map"></div>

  <div style="margin-top: 3rem; ">

    <div class="contact-store-locations-container">

      <div class="contact-store-location">
        <span class="store-location-city">London</span>
        <div class="store-address-flex">
          <span class="store-address font-product-info">4523 Godfrey Road
            London, PC 10048</span>
            <button class="btn-directions">Directions</button>
       
        </div>  
      </div>

      <div class="contact-store-location">
       <span class="store-location-city">Glasgow</span>
        <div class="store-address-flex ">
          <span class="store-address font-product-info">3552 Pride Avenue
            Glasgow, GP 11215</span>
            <button class="btn-directions">Directions</button>
        </div>
       
      </div>

      <div class="contact-store-location">
        <span class="store-location-city">Manchester</span>
        <div class="store-address-flex ">
          <span class="store-address font-product-info">713 Deer Ridge Drive
            Rochelle Park, NJ 07662</span>
            <button class="btn-directions">Directions</button>
        </div>
      </div>

      <div class="contact-store-location">
        <span class="store-location-city">Edinbrugh</span>
        <div class="store-address-flex">
          <span class="store-address font-product-info">4705 Moonlight Drive
            Edinbrugh, NJ 08401</span>
            <button class="btn-directions">Directions</button>
        </div>
      </div>


    </div>
    

  </div>
</div>










{% schema %}
    {
    "name":"Store locations",
    "settings" : [],
    "presets" : [{"name" : "Store locations"}],
    "limit" : 1,
    "tag": "section",
    "class" : "section-store-locations"
    }
    {% endschema %}