
<div class="contact-store-section">

  <div class="contact-store-contact-details-container">

    <div class="contact-store-detail">
      <h3><span class="store-detail-title-phone">PHONE</span></h3>
      <div class="store-detail-flex">
        <span>+1 800 100 200 300</span>
        <span>+1 800 200 300 400</span>
      </div>   
    </div>

    <div class="contact-store-detail">
      <h3><span class="store-detail-title-email">EMAIL</span></h3>
      <div class="store-detail-flex">
        <span>info@addanemail.com</span>
        <span>order@orderanemail.com</span>
      </div>
     
    </div>

    <div class="contact-store-detail">
      <h3><span class="store-detail-title-hours">HOURS</span></h3>
      <div class="store-detail-flex">
        <span>Mon - Fri: 11am - 9pm</span>
        <span>Sat -Sun : 11am - 6pm</span>
      </div>
    </div>
  </div>
</div>


{% schema %}
    {
    "name":"Store contact",
    "settings" : [],
    "presets" : [{"name" : "Store contact"}],
    "limit" : 1,
    "tag": "article",
    "class" : "section-store-contact__main-container section page-width"
    }
{% endschema %}