.customer-review__main-container {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
   gap: 2rem; 

}

.customer-review-content {
    position: relative; 
    width: 260px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
}
.review-background-image {
    position: absolute;
    top: 0;
    bottom:0;
    object-fit: cover;
    left: 0;
    right: 0;
    z-index: -100;
}


.reviewSwiper {

    z-index: 100;
}
.reviewSlide {
  
    padding: 8rem 2.5rem;
  
}

.reviewSlide-body-text {
    color: var(--header-bg);
    font-size: 1.25rem;
}
.reviewSlide-reviewer-text {
    margin-top: .5rem;
    font-size: 1.25rem;
}
.cust-feed-swiper-btn {
    font-size: 15px !important;
}
.cust-feed-swiper-btn:hover {
    transform: scale(1.2)
}
.cust-feed-swiper-btn:before,
.cust-feed-swiper-btn:after {
    font-size: 25px !important;
    color: var(--header-bg);
}

/* NEWSLETTER */
.newsletter-content {
    width: 260px;
    height: 330px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.customer-feedback-heading {
    color: white;
    font-size: 2rem;
    line-height: 24px;
    position: relative; 
    z-index: 20;
    position: absolute; 
    top: 10%; 
    left: 1;
}

  .customer-feedback-heading:before {
   content: "";
   position: absolute;
   top: 0;
   width: 100%;
   height: 50px;
   background-color: var(--clr-red);
   z-index: -1; 
   transform: translate(2px, 0px); 
 }  

 .newsletter-heading {
    color: white;
    font-size: 2rem;
    line-height: 24px;
    position: relative; 
    z-index: 20;
    position: absolute; 
    top: 10%; 
    left: 1;
}

  .newsletter-heading:before {
   content: "";
   position: absolute;
   top: 0;
   width: 100%;
   height: 50px;
   background-color: var(--clr-red);
   z-index: -1; 
   transform: translate(2px, 0px); 
 }  

 @media screen and (min-width: 480px){
    .customer-review-content {
        width: 410px;
        height: 380px;
    }
    .reviewSlide {
        padding: 8rem 3rem;
    }
    .newsletter-content {
        width: 410px;
        height: 380px;
    }
    .reviewSlide-body-text {
        color: var(--header-bg);
        font-size: 1.35rem;
    }
    
} 


 @media screen and (min-width: 768px){
    .customer-review__main-container {
        grid-template-columns: 2fr 1fr;
    }
    .reviewSlide {
        padding: 9rem 5rem;
    }
    .customer-review-content {
        width: 100%; 
        height: 380px;
    }
    .newsletter-content {
        width: 100%;
        height: 380px;
    }
    .reviewSlide-body-text {
        color: var(--header-bg);
        font-size: 1.5rem;
    }
} 