.section-discount-banner {
    padding: 3rem 1rem 0rem 1rem;
    width: 100%;
}
.section-heading-container {
    margin-bottom: 2rem;
}
.discount-main-content {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;  
}

.discount-main-container {
    width: 100%;
    height: 360px;
    position: relative;
    margin: 0 auto;
}

.discount-image-container {
    width: 100%;
    height: 100%;
}

.discount-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--header-bg);
    opacity: 0.3;
    z-index: 0;
}

.discount-description {
    font-size: 3rem;
}


 @media screen and (min-width: 768px){

    .discount-main-content {
        grid-template-columns: 2fr 1fr; 

    }
 }
