.discount-banner__main-container{
    padding: 1rem;
}

.section-discount-banner {
    padding: 3rem 1rem 0rem 1rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
 
}

.discount-main-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.discount-image-container {
    width: 100%;
    height: 100%;
}
.discount-title-container {
    position: absolute;
    top: 20%;
    left: 0;
    text-align: right;
    padding: 1rem;
}

.discount-description-container {
    position: absolute;
    top: 40%;
    right: 0;
    padding: 1rem;

}
.discount-description {
    font-size: 3rem;
}