
.section-featured-collection {
    position: relative;
    padding: 3rem 1rem 0rem 1rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.featured-subheading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;;
}

.featured-collection-heading-container {
    padding-bottom: 2rem;
}

.featured-collection-content {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    width: 260px;
}

.featured-collection__image-container {
    border: 3px solid lightgray;
    overflow: hidden;
}

.featured-collection__image-container > img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; 
}

.featured-collection__image-container:hover > img {
    transform: scale(1.2);
}
.featured-collection__image-container:hover {
    border: 3px solid #f2d71f;
}

.featured-collection__info-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.product-price {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #d22756;
    text-align: left;
}
.product-title {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
}
