/* HERO-BANNER-MOBILE FIRST*/
.section-hero-banner {
  width: 100vw;
  height: 420px;
  overflow: hidden;
  position: relative;  z-index: -10;
}
.heroSwiper {
  width: 100%;
  height: 100%;

  
}
.slide {
  border: 3px solid var(--header-bg);
  width: 100%;
  height: 100%;
}

.image-product {
position: absolute;
inset: 0;
object-fit: cover;
object-position: 90% 100%;
width: 100%;
height: 100%;

}

.image-backdrop {
  width: 100%;
  height: 100%;
  z-index: -10;
}
.image-overlay {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(41, 41, 41, .4); 
}

/* HERO PRODUCT INFO CONTAINER */
.hero-info-container {
  position: absolute;
  top: 20%;
  right: 5%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  right: 0;
  z-index: 20; 

}


.hero-heading {
  color: var(--txt-white);
  padding: 1px 2px; 
  font-size: 2.5rem;
  line-height: 40px;
  position: relative; 
  z-index: 20;
  text-align: right;  
}

.hero-heading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 1rem;
  width: 70%;
  height: 70%;
  background-color: rgba(210, 39, 86, 1);
  z-index: -1; 
  transform: translate(20px, 10px); 
} 

.hero-heading-alternate {
  color: var(--txt-white);
  padding: 1px 2px; 
  font-size: 2.5rem;
  line-height: 40px;
  position: relative; 
  z-index: 20;
  text-align: right;  
}

.hero-heading-alternate:before {
  content: "";
  position: absolute;
  top: 0;
  right: 1rem;
  width: 70%;
  height: 70%;
  background-color: var(--clr-yellow);
  z-index: -1; 
  transform: translate(20px, 10px); 
} 


.hero-price-and-btn-container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  margin-top: 1rem;
} 
.hero-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-left: 3rem;
  margin-top: 1rem;
}


.hero-btn {
  padding: .5rem 1.5rem;
  color: white;
  background-color: rgba(41, 41, 41, 1);
  font-size: 1rem;
  font-weight: bold;
  transition: all .3s ease-in-out;
  z-index: 500;
} 


.hero-btn:hover {
  background-color: rgba(210, 39, 86, 1);
  scale: 1.05;
}

.hero-price {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 1px;

}
 .hero-price-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
} 




@media screen and (min-width: 550px ){
  .section-hero-banner {
    height: 550px;
  }
  .image-product {
    width: 80%;
  }
  .image-overlay {   
    background-color: rgba(41, 41, 41, .2); 
  }
  .hero-heading {
    font-size: 3rem;
    line-height: 45px;
  }

  .hero-price {
    font-size: 3.5rem;
  }
  .hero-heading:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(210, 39, 86, 1);
    z-index: -1; 
    transform: translate(20px, 10px); 
  } 
  .hero-heading-alternate:before {
    content: "";
    position: absolute;
    top: 0;
    right: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--clr-yellow);
    z-index: -1; 
    transform: translate(20px, 10px); 
  } 

}
.hero-swiper-btn-container {
  position: relative;
  margin-top: 3rem;

}

.hero-swiper-next-btn {
  height: 50px !important;
  width: 50px !important;
  font-size: 10px;
}

.hero-swiper-next-btn:hover{
  transform: scale(1.2)
}

.hero-swiper-next-btn:before,
.hero-swiper-next-btn:after {
  font-size: 25px !important;
  color: var(--header-bg);
}

.hero-swiper-pag {
  opacity: 1;
  height: 12px;
  width: 12px;
  visibility: hidden;
}
.hero-swiper-pag:active {
  border: 2px solid white;
  background-color: red;
}


 @media screen and (min-width: 768px ){
  .image-product {
    width: 70%;
  }
  .hero-swiper-pag {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: white;
    visibility: hidden;
  }
  .image-overlay {  
    background-color: rgba(41, 41, 41, .2); 
  }
  .hero-heading {
    font-size: 4rem;
    line-height: 45px;
  }
  .hero-heading-alternate {
    font-size: 4rem;
  }
  .hero-btn {
    padding: 1rem 2rem; 
    font-size: 1.75rem;
  } 
  .hero-price {
    font-size: 3.5rem;
  }
  
} 


 @media screen and (min-width: 1000px ){ 
  .image-product {
    width: 75%;
  }
  .hero-info-container {
    right: 0%
  }
  .image-overlay {
    background-color: rgba(41, 41, 41, .1); 
  }
  .hero-price-and-btn-container {
    flex-direction: row; 
    margin-top: 1rem;

  } 

} 


@media screen and (min-width: 1200px ){
  .image-product {
    width: 50%;
  }

  .image-overlay {
    background-color: rgba(41, 41, 41, 0); 
  }

  .hero-heading {
    font-size: 5rem;
    width: 700px;
    line-height: 80px;
  }
  .hero-heading-alternate {
    font-size: 5rem;
    width: 700px;
    line-height: 80px;
  }

  .hero-info-container {
    right: 10%;
  }

  .hero-heading:before {
    content: "";
    right: 1rem;
    width: 75%;
    height: 110px;
    transform: translate(10px, 5px); 
  } 
  .hero-heading-alternate:before {
    content: "";
    right: 1rem;
    width: 75%;
    height: 110px;
    transform: translate(10px, 5px); 
  } 
} 

@media screen and (min-width: 1400px ){
  .image-individual {
    width: 100%;
  }

  .image-overlay {
    background-color: rgba(41, 41, 41, 0); 
  }

  .hero-heading {
    font-size: 6rem;
    width: 700px;
    line-height: 80px;
  }
  .hero-heading-alternate {
    font-size: 6rem;
    width: 700px;
    line-height: 80px;
  }

  .hero-info-container {
    right: 15%;
  }

  .hero-heading:before {
    content: "";
    right: 1rem;
    width: 90%;
    height: 110px;
    transform: translate(10px, 5px); 
  } 
  .hero-heading-alternate:before {
    content: "";
    right: 1rem;
    width: 90%;
    height: 110px;
    transform: translate(10px, 5px); 
  } 

  .hero-heading-btn-container {
    flex-direction: row; 
    align-items: center;
    text-align: right;
    justify-content: space-around;
    gap: 5rem;
  }

  .hero-price {
    font-size: 5rem;
  }
} 