/* hero banner */
#image__banner-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

 .image-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.image-backdrop {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10; 
}

.banner-mg {
  height: 100%;
  width: 100%;
}

.image-container-left {
    height: 100%;
   
} 

.image-individual {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  object-position: 90% 100%;
}

.image-overlay {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(41, 41, 41, .3); 
}


/* carousel product info */
.hero-info-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 1rem;
}

.hero-title {
  position: relative;
}




.hero-heading {
  /* background-color: #3498db;  */
  color: #ffffff; 
  padding: 1px 2px; 
  font-size: 3rem;
  line-height: 40px;
  position: relative; 
  z-index: 20;
  text-align: right;
}

.hero-heading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 1rem;
  width: 80%;
  height: 3rem;
  background-color: rgba(210, 39, 86, 1);
  z-index: -1; 
  transform: translate(20px, -10px); 
} 

.hero-heading-btn-container {
    display: flex;
    flex-direction: column; 
    margin-top: 1rem;
  } 
.hero-heading-btn-container-one {
  display: flex;
  justify-content: flex-end;
}

  
 .btn-shop-now {
    padding: .5rem 1.5rem;
    color: white;
    background-color: rgba(41, 41, 41, 1);
    font-size: 1rem;
    font-weight: bold;
    transition: all .3s ease-in-out;
  } 


  .btn-shop-now:hover {
    background-color: rgba(210, 39, 86, 1);
    scale: 1.05;
  }

  .hero-price {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
  
  }

  
   .hero-price-cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
  } 