.section-new-arrivals {
    width: 100%;
    margin: 0 auto;
  }
  
  .new-arrivals-product-container {
    /* padding: 4rem 0rem;; */
    display: grid;
    width: 260px;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);

  }
  
 
  @media screen and (min-width: 640px) {
    .new-arrivals-product-container {
      grid-template-columns: repeat(2, 1fr); /* Five columns */
      width: 100%
    }
  }
  @media screen and (min-width: 768px) {
    .new-arrivals-product-container {
      grid-template-columns: repeat(3, 1fr); /* Five columns */

    }
  }
  @media screen and (min-width: 1000px) {
    .new-arrivals-product-container {
      grid-template-columns: repeat(4, 1fr); /* Five columns */

    }
  }
  
  @media screen and (min-width: 1200px) {
    .new-arrivals-product-container {
      grid-template-columns: repeat(5, 1fr); /* Five columns */
    }
  }
  

  